#userInterface {
  display: flex;
  justify-content: flex-start;
}

#leftUI {
  display: flex;
  justify-content: space-between;
}

#centerUI {
  width: 550px;
  min-width: 550px;
}

#chatDisplay {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#rightUI {
  width: 100%;
  justify-content: space-between;
}

#conversations {
  height: 100vh;
  width: 200px;
}

#conversationsList {
  overflow-y: auto;
}
