#newChatButton {
  border-radius: 0px;
  margin: 0px;
  width: 100%;
}

#conversationsList {
  margin-top: 0px;
  margin-bottom: 0px;
}

.selectedChat {
  background-color: rgb(123, 194, 188);
}

.unselectedChat {
  margin: 0px;
  padding: 15px;
  cursor: pointer;
}

.unselectedChat:hover {
  background-color: rgb(198, 224, 222);
}

.divider {
  margin: 0px;
}
