#landingTitle {
  background-color: rgb(47, 75, 75);
  color: whitesmoke;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
}

#landingButton {
  color: black;
}

#mainTitle {
  cursor: pointer;
}

.link {
  color: black;
}

.link:hover {
  color: black;
}

.loginButton {
  margin-top: 20px;
}
