.loginHeader {
  text-align: center;
  color: rgb(47, 75, 75);
}

#question {
  margin-top: 10px;
  cursor: pointer;
}

#submitFormButton {
  background-color: rgb(47, 75, 75);
  border-color: rgb(47, 75, 75);
}

.errorInfo {
  color: red;
}
