.inspect-header {
  background-color: rgb(63, 114, 105);
  color: white;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
}

.message-content-container {
  border-radius: 7px;
  margin-left: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 10px;
  display: inline-block;
}

.user-sent {
  background-color: #343a40;
}

.message-content {
  white-space: pre-wrap;
  color: white;
  background-color: #343a40;
  padding: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

#in-binary {
  width: 325px;
  margin-right: 10px;
}

#in-binary-text {
  border-radius: 0px;
  height: 68.2vh;
  resize: none;
}

#before-encoding-text {
  border-radius: 0px;
  height: 68.2vh;
  resize: none;
}

#encoded-text {
  border-radius: 0px;
  height: 68.2vh;
  resize: none;
}

#error-information-text {
  border-radius: 0px;
  height: 68.2vh;
  resize: none;
}

#reconstructed-bits-text {
  border-radius: 0px;
  height: 68.2vh;
  resize: none;
}

#received-bits-text {
  border-radius: 0px;
  height: 68.2vh;
  resize: none;
}

#before-encoding {
  width: 275px;
  margin-right: 10px;
}

#encoded {
  width: 520px;
}

#received-bits {
  width: 325px;
  margin-right: 10px;
}

#reconstructed-bits {
  width: 325px;
  margin-right: 10px;
}

#error-information {
  width: 475px;
}

#inspect-top-container-me {
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.inspect-lower-container-me {
  display: flex;
}

#inspect-lower-container-me {
  display: flex;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 0px;
}
