.chatHeader {
  background-color: rgb(43, 87, 87);
  color: white;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
}

#messages {
  margin-top: 10px;
  overflow-y: auto;
  overflow-x: none;
  height: 72vh;
  flex-grow: 1;
}

.message-container {
  border-radius: 7px;
  margin-left: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;
}

.message {
  padding: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

.user-sent-message {
  background-color: rgb(172, 218, 178);
}

.user-sent-message:hover {
  background-color: rgb(123, 180, 131);
}

.received-message {
  background-color: rgb(123, 194, 188);
}

.received-message:hover {
  background-color: rgb(70, 160, 152);
}

#hline-top-of-chat {
  margin-top: 1px;
  margin-bottom: 2px;
}

.hline-small-margin {
  margin-top: 0px;
  margin-bottom: 5px;
  border-color: grey;
}

.breakline-no-margin {
  margin: none;
  padding: none;
}

#enter-message-container {
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
}

#enter-message-field {
  width: 80%;
  padding-left: 7px;
  resize: none;
  margin-right: 0px;
}

#send-message-btn {
  text-align: center;
  padding-top: 33px;
  padding-bottom: 33px;
  margin-left: 0px;
}
