#new-chat-form-header {
  background-color: rgb(105, 168, 157);
  color: white;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
}

#confirm-new-chat-message {
  background-color: rgb(105, 168, 157);
  border-color: rgb(105, 168, 157);
}

#new-chat-form {
  padding-top: 35px;
}
